<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="text/html; charset=utf-8" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <title>AID</title>
    
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/coming-sssoon.css" rel="stylesheet" />    
    
    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    
</head>
    
<body>
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
             <li>
                <a href="/contact" style="color:#000;">
                    <i class="fa fa-envelope-o"></i>
                    Contact
                </a>
            </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
              <a href="/" style="color:#000;">
                <i class="fa fa-home"></i>
                AID
              </a>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
{#<div class="main" style="background-image: url('/static/images/default.jpg')">#}
<div class="main" style="background-image: none">

{#    <div class="cover black" data-color="black"></div>#}
     
<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo" style="color:#000;">
            AI Diagnosis Team
        </h1>
        
        <div class="content">
            <h4 class="motto" style="color:#000000;">Diagnosis tool for AI</h4>
            <div class="subscribe">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <center>
                                <table void=none style="border-collapse: separate; border-spacing: 10px 5px; font-size:24px">
                                  <tr>
                                    <td>Wang Jingyi</td>
                                    <td>wangjyee@zju.edu.cn</td>
                                    <td>Zhejiang University</td>
                                  </tr>
                                  <tr>
                                    <td>Zhang Peixin</td>
                                    <td>pxzhang94@zju.edu.cn</td>
                                    <td>Zhejiang University</td>
                                  </tr>
                                  <tr>
                                    <td>Wang Yingbei</td>
                                    <td>12345678@abc.com</td>
                                    <td>abcdefg</td>
                                  </tr>
                                </table>
                            </center>
                        </div>
                        <div class="col-lg-2"></div>

{#                        <form class="form-inline" role="form">#}
{#                              <div class="form-group">#}
{#                                <label class="sr-only" for="exampleInputEmail2">model</label>#}
{##}
{#                                  <input type="text" class="form-control" placeholder="Please select the model path" />#}
{#                                  <span class="input-group-btn">#}
{#                                      <label for="forexIO_file1" class="form-control btn btn-info">Load model</label>#}
{#                                      <input id="forexIO_file1" type="file" onchange="set_placeholder(this)" style="display: none" />#}
{#                                  </span>#}
{#                              </div>#}
{#                              <div class="form-group">#}
{#                                <label class="sr-only" for="exampleInputEmail2">data</label>#}
{#                                  <input type="text" class="form-control" placeholder="Please select the data path" />#}
{#                                        <span class="input-group-btn">#}
{#                                            <label for="forexIO_file2" class="form-control btn btn-info">Load dataset</label>#}
{#                                            <input id="forexIO_file2" type="file" onchange="set_placeholder(this)" style="display: none" />#}
{#                                        </span>#}
{#                              </div>#}
{##}
{#                              <div class="form-group">#}
{#                                <div class="input-group">#}
{#                                  <label class="sr-only" for="exampleInputEmail2">noise</label>#}
{#                                    <label for="name">Noise degree</label>#}
{#                                        <select class="form-control">#}
{#                                          <option>1</option>#}
{#                                          <option>2</option>#}
{#                                          <option>3</option>#}
{#                                          <option>4</option>#}
{#                                          <option>5</option>#}
{#                                        </select>#}
{#                                </div>#}
{#                              </div>#}
{#                              <div class="form-group">#}
{#                                <label class="sr-only" for="exampleInputPassword2">Password</label>#}
{#                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">#}
{#                              </div>#}
{#                              <div class="checkbox">#}
{#                                <label>#}
{#                                  <input type="checkbox"> Remember me#}
{#                                </label>#}
{#                              </div>#}
{#                              <button type="submit" class="btn btn-default">Sign in</button>#}
{#                            </form>#}

{#                        <form class="form-inline" role="form" action="/index" method="post" id ="form1" >#}
{#                          <div class="form-group">#}
{#                              <label class="sr-only" for="exampleInputEmail2">noise</label>#}
{#                                <label for="name">Noise degree</label>#}
{#                                    <select class="form-control">#}
{#                                      <option>1</option>#}
{#                                      <option>2</option>#}
{#                                      <option>3</option>#}
{#                                      <option>4</option>#}
{#                                      <option>5</option>#}
{#                                    </select>#}
{#                          </div>#}
{#                          <div class="form-group">#}
{#                              <label class="sr-only" for="exampleInputEmail2">noise1</label>#}
{#                                <select class="form-control">#}
{#                                  <option>1</option>#}
{#                                  <option>2</option>#}
{#                                  <option>3</option>#}
{#                                  <option>4</option>#}
{#                                  <option>5</option>#}
{#                                </select>#}
{#                          </div>#}
{#                          <div class="form-group input-group-lg" style="width:60%">#}
{#                            <label class="sr-only" for="exampleInputEmail2">query</label>#}
{#                            <input type="text" class="form-control transparent" placeholder="Your query here..." name="query" value="" id="query1" onkeypress="getKey();">#}
{#                            <input style='display:none' />#}
{#                          </div>#}
{#                          <br>#}
{#                          <center><input type="button" class="btn btn-danger btn-fill btn-lg" value="Diagnose" onclick="Diagnose()"></center>#}
{#                        </form>#}

                    </div>
                </div>
            </div>
{#            <div class="col-md-12 col-md-offset-2">#}
{#            <br><br><br>#}
{#            <h4 style="color:white">EXAMPLE: </h4>#}
{#            <p style="color:white">Resolving ip-address of a hostname?</p>#}
{#            <p style="color:white">How to make a list thread-safe for serialization?</p>#}
{#            <p style="color:white">How to check whether a class exists?</p>#}
{#            <p style="color:white">Is there any way to fnd os name using java?</p>#}
{#            <p style="color:white">Java Fastest way to read through text fle with 2 million lines?</p>#}
{#            </div>#}
        </div>
    </div>
    <div class="footer">
      <div class="container">
             Tool demo for AID, by AI Diagnosis Team.
      </div>
    </div>
 </div>
 </body>
   <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
   <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

</html>